.container {
  display: grid;
  /* minmax 表示最小和最大值，fr 这个单位就是如果有剩余空间就加入该列的宽度 */
  /* 消除 Chrome 中的警告，对于未指定高度的 grid 使用比例的用法 deprecated 了 */
  grid-template-columns: 9.6rem 1fr;
  grid-template-rows: 3rem 1fr 1rem 2rem;
  grid-gap: 0.3rem;
  grid-template-areas:
    'image title'
    'image .'
    'image tags'
    'image price';
  place-content: stretch;
  place-items: stretch;
}
.product-image {
  grid-area: image;
  object-fit: cover;
  width: 9rem;
  height: 9rem;
}
.product-title {
  grid-area: title;
  width: 100%;
}
.product-tags {
  grid-area: tags;
}
.product-price {
  grid-area: price;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 'price-detail price-desc price-avatar';
  place-content: stretch;
  place-items: center;
}
.price-section {
  color: #d24749;
  grid-area: price-detail;
  margin: 0 1rem;
}
.price {
  display: inline;
  font-size: 1.3rem;
  padding: 0;
}
.price-desc {
  grid-area: price-desc;
  color: #3f3f3f;
  font-size: 0.8rem;
  width: 100%;
}
.price-avatar {
  grid-area: price-avatar;
  margin: 0;
  height: 100%;
}
.price-avatar > img {
  position: relative;
}
:host {
  padding: 0 0.5rem;
  background-color: #fff;
}
