ul {
  /* 下面的让 UL 列表变成横向，但在 flex 模式下就没有什么作用了 */
  /* text-align: center; */
  background: #cc483a;
  margin: 0;
  padding: 0;
  /* 支持横向滚动 */
  overflow-x: scroll;
  /* 使用 FlexBox 布局 */
  display: flex;
  /* 将屏幕剩余空间平均分布于各子元素之间 */
  justify-content: space-between;
}

ul li {
  /* 去掉列表的 bullet */
  display: inline-block;
  margin: 10px;
  /* 内容不折行显示 */
  white-space: nowrap;
}

a {
  color: #f5bd96;
  /* 不显示下划线 */
  text-decoration: none;
}

/* 不显示滚动条，只对基于 Webkit 内核的浏览器有效 */
::-webkit-scrollbar {
  display: none;
}
