/* :host 用于指定宿主样式 */
:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* 头部和尾部固定大小 */
app-footer {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
