<ng-container *ngIf="tab$ | async as tab">
  <ng-container *ngIf="tab === 'hot'; else other">
    <app-image-slider [sliders]="banners$ | async" [intervalBySeconds]="3">
    </app-image-slider>
    <app-horizontal-grid
      [rows]="2"
      [cols]="8"
      [displayCols]="5"
      [itemWidth]="'4rem'"
      class="horizontal-grid"
    >
      <span
        appGridItem
        *ngFor="let item of channels$ | async"
        [routerLink]="['../' + item.link]"
      >
        <img appGridItemImage="2rem" [src]="item.icon" alt="" />
        <span appGridItemTitle="0.6rem" class="title">{{ item.title }}</span>
      </span>
    </app-horizontal-grid>
    <div class="ad-container">
      <img
        class="ad-image"
        src="http://ppqfnsh9s.bkt.clouddn.com/ad001.png"
        alt=""
      />
    </div>
    <app-vertical-grid [itemHeight]="9" [itemWidth]="23">
      <app-product-card
        *ngFor="let product of products$ | async"
        [product]="product"
        [routerLink]="'/products/' + product.id"
      >
      </app-product-card>
    </app-vertical-grid>
  </ng-container>
</ng-container>
<ng-template #other>
  <div class="ad-container" *ngIf="ad$ | async as ad">
    <a routerLink=""><img class="ad-image" [src]="ad.imageUrl" alt=""/></a>
  </div>
  <app-vertical-grid [itemWidth]="10" [itemHeight]="10" class="grid">
    <app-product-tile
      *ngFor="let product of products$ | async"
      [product]="product"
      [routerLink]="'/products/' + product.id"
    >
    </app-product-tile>
  </app-vertical-grid>
</ng-template>
