ul {
  /* 下面的让 UL 列表变成横向，但在 flex 模式下就没有什么作用了 */
  /* text-align: center; */
  margin: 0;
  padding: 0;
  /* 支持横向滚动 */
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  /* 使用 FlexBox 布局 */
  display: flex;
  /* 将屏幕剩余空间平均分布于各子元素之间 */
  justify-content: space-between;
  align-content: stretch;
}
/*
 * 改为纵向的 Flex 容器，布局菜单和下方的指示器
 */
ul li.tab-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 5px 10px 5px 10px;
  /* 内容不折行显示 */
  white-space: nowrap;
}
a {
  /* 不显示下划线 */
  text-decoration: none;
}
/* 菜单下方的指示器 */
.indicator {
  height: 2px;
  width: 2rem;
  margin: 2px 0px 0px 0px;
  padding: 0;
}
/* 不显示滚动条，只对基于 Webkit 内核的浏览器有效 */
ul::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
