<ul [ngStyle]="{ 'background-color': backgroundColor }">
  <!-- ngFor 指令是一个结构型指令，会在以所在的宿主节点为模版，循环创建节点 -->
  <!-- tabItems 是定义在组件中的一个数组，而对数组中的每一个元素赋值给 tab 这个变量 -->
  <!-- index 是这个数组的索引，如果需要时，可以定义一个变量取得这个索引值 -->
  <li *ngFor="let item of tabItems; let i = index" class="tab-item">
    <!-- 对于比较复杂的样式绑定，可以使用 ngStyle 指令 -->
    <!-- ngStyle 接受的是一个字典对象，其 key 是 css 中的样式属性，value 是想要应用的值 -->
    <a
      href="#"
      [ngStyle]="{ color: selectedIndex === i ? titleActiveColor : titleColor }"
      (click)="selectTab(i)"
    >
      {{ item.title }}
    </a>
    <!-- 我们可以按之前的做法写成动态绑定样式，也能一样实现效果，但这种写法会生成一些无用 span 节点 -->
    <!-- <span [class.indicator]="selectedIndex === i"></span> -->
    <!-- ngIf 指令用于条件判断是否渲染改元素 -->
    <span
      class="indicator"
      *ngIf="selectedIndex === i"
      [ngStyle]="{ 'background-color': indicatorColor }"
    ></span>
  </li>
</ul>
